OPENWEATHER_API_KEY=<your-key>
GOOGLE_SERVICE_ACCOUNT_EMAIL=<test.email@email>
GOOGLE_APPLICATION_CREDENTIALS=/app/cred.json
GOOGLE_PROJECT_ID=<app-name>
REDIS_DSN=redis://redis:6379/0 #redis://localhost:6379/0
SENDGRID_API_KEY=SG.SEU_API_KEY_AQUI
FROM_EMAIL=seu-email-verificado-no-sendgrid@dominio.com
TO_EMAIL=seu-email-pessoal@dominio.com